//- Place the sections for the slide show in here
//- You can do so like this:
//- include {filename}.pug 
//- Do this for every section you want to have in the slideshow
include ../templates/cool-stuff.pug
include ../templates/iframe-background.pug
include mixins.pug

section
  section
    h2 Aventine Crisis Communication Strategy
    p(style="color: gray;") Platypus Cyber Security

section
  +animate
    +gradientH2 Timeline

  +animate
    h2 Timeline
    .fragment Initial signals of a breach
    .fragment Factories and distribution centers EU hit
    .fragment Spread to the US network
    .fragment Situation turned into full company crisis
    .fragment Questions are being asked

section
  +animate
    +gradientH3 Crisis Communication Strategy

  +animate
    h3 Crisis Communication Strategy
    .fragment
      p Values
      p General Message
      p Target Groups
      p Communication Channels
      p Measuring the Effect

section
  section
    +gradientH3 Values
    p Reliability
    p Expertise
    p Long term sustainability
  section
    +gradientH3 General Message
    p Explain the problem
    p Transparent where possible
    p "What does it mean for me?"
  section
    +gradientH3 Target Groups
    p Employees
    p Stakeholders
      p(style="font-size: 30px; color: gray") Clients
      p(style="font-size: 30px; color: gray") Suppliers
    p Media

  section
    +gradientH3 Communication Channels
    del Company E-Mail
    p Phone (SMS & Call)
    p Company website
    p Twitter
    p Facebook

  section
    +gradientH3 Measuring the Effect
    p Feedback from the managers
    p Twitter mentions (Hashtags)
    p Support Team will be instructed

section
  section
    +gradientH3 Your Thoughts and Worries

section
  div
    img(src="assets/Screenshot from 2022-09-06 16-00-28.png")
