section
  h3
    | Creating
    |
    +gradientSpan Cryptographically Enforced Access Control
    |
    | for a
    |
    span(style="background-color: black;color: white;") Patient Health Record system
  p(style="color: gray;") Antoine Gansel, August Karlsson, Remi Hendriks & Frank Nijeboer

section
  h3
    |
    +gradientSpan Cryptographically Enforced Access Control

section
  h1 Why need it?

+iFrameBackground("https://www.nu.nl/tech/6232089/hacker-19-opgepakt-voor-stelen-tienduizenden-medische-documenten.html")
+iFrameBackground("https://www.scmagazine.com/analysis/breach/data-for-2-million-patients-stolen-in-largest-healthcare-breach-so-far-of-2022")
+iFrameBackground("https://www.reuters.com/technology/after-telco-hack-australia-faces-wave-data-breaches-2022-10-20/")
+iFrameBackground("https://www.vpngids.nl/nieuws/amerikaans-ziekenhuis-betaalt-670-000-dollar-aan-hackers/")

section
  h3 So there are enough reasons...


