section
  +gradientH2 Requirements for the System

+animate
  +gradientH2 Actors
  h2 Dynamic Attributes
  h2 Reading Rights
  h2 Write-only Permissions

+animate
  +gradientH2 Actors
  p Patients
  p Hospitals
  p Health Clubs
  p Doctors, Insurance, Employers etc.

+animate
  h2 Actors
  +gradientH2 Dynamic Attributes
  h2 Reading Rights
  h2 Write-only Permissions

+animate
  +gradientH2 Dynamic Attributes
  p Patients can share with whomever they want
  p These other users are not necessarily known at the start

+animate
  h2 Actors
  h2 Dynamic Attributes
  +gradientH2 Reading Rights
  h2 Write-only Permissions
  
+animate
  +gradientH2 Reading Rights
  p Enforcing read access
  p Some are read-only

+animate
  h2 Actors
  h2 Dynamic Attributes
  h2 Reading Rights
  +gradientH2 Write-only Permissions

+animate
  +gradientH2 Write-only Permissions
  p Some actors should only write to the system
  p How can we enforce write permissions?

