section
  +gradientH2 Requirements for the System

+animate
  h2 Actors
  h2 Dynamic Attributes
  h2 Reading Rights
  h2 Write-only Permissions

+animate
  +gradientH2 Actors
  h2 Dynamic Attributes
  h2 Reading Rights
  h2 Write-only Permissions

+animate
  +gradientH2 Actors
  .fragment Patients
  .fragment Hospitals
  .fragment Health Clubs
  .fragment Doctors, Insurance, Employers etc.

+animate
  h2 Actors
  +gradientH2 Dynamic Attributes
  h2 Reading Rights
  h2 Write-only Permissions

+animate
  +gradientH2 Dynamic Attributes
  .fragment Patients can share with whomever they want
  .fragment These other users are not necessarily known at the start

+animate
  h2 Actors
  h2 Dynamic Attributes
  +gradientH2 Reading Rights
  h2 Write-only Permissions

+animate
  +gradientH2 Reading Rights
  .fragment Enforcing read access
  .fragment Some are read-only

+animate
  h2 Actors
  h2 Dynamic Attributes
  h2 Reading Rights
  +gradientH2 Write-only Permissions

+animate
  +gradientH2 Write-only Permissions
  .fragment Some actors should only write to the system
  .fragment How can we enforce write permissions?

