section
  h1 Proposed Model
  
+animate
  +gradientH2 Global Authority
  h2 Local Authority
  h2 Client
  h2 Database
  
+animate
  +gradientH2 Global Authority
  p Generate global parameters
  p That's it :)
    
+animate
  h2 Global Authority
  +gradientH2 Local Authority
  h2 Client
  h2 Database
+animate
  +gradientH2 Local Authority
  p Creates keys for the clients
  p Decides what attributes the clients have
    
+animate
  h2 Global Authority
  h2 Local Authority
  +gradientH2 Client
  h2 Database
  
+animate
  +gradientH2 Client
  p Can be any party in the system
  p Has its own UUID
  p Can grant write access to the database for its own PHR
    
+animate
  h2 Global Authority
  h2 Local Authority
  h2 Client
  +gradientH2 Database
  
+animate
  +gradientH2 Database
  p Contains encrypted data
  p Enforces write access
  
+animate
  h1 Encryption
+animate
  +gradientH1 Encryption
  p Hybrid Approach
  p Message -> Symmetric Encryption
  p Symmetric Key -> Previously mentioned ABE Scheme
    
section
  img(src="assets/Reading.png", alt="")
section
  img(src="assets/Attribution.png", alt="") 
section
  img(src="assets/Writing.png", alt="", height=680)
