+animate 
  +gradientH1 Our Solution

+animate
  +gradientH2 Programming Language
  h2 Code Layout
  h2 APIs
  h2 GUI
  
+animate
  +gradientH2 Programming Language
  p Python
  p Charm Crypto

+animate
  h2 Programming Language
  +gradientH2 Code Layout
  h2 APIs
  h2 GUI

+animate
  +gradientH2 Code Layout
  pre(data-id="code")
    code(data-trim, data-noescape)
      |└── sdm_assignment
      |   ├── data
      |   │   ├── models
      |   │   ├── repositories
      |   │   └── schemas
      |   ├── routers
      |   └── setup.py
    
+animate
  pre(data-id="code")
    code(data-trim, data-noescape)
      |├── sdm_assignment
      |│   ├── data
      |│   │   ├── models
      |│   │   ├── repositories
      |│   │   └── schemas
      |│   ├── routers
      |│   └── setup.py
      |├── client.py
      |├── data_server.py
      |├── local_auth.py
      |├── global_auth.py
      |└── setup_server.py
    
+animate
  h2 Programming Language
  h2 Code Layout
  +gradientH2 APIs
  h2 GUI
  
+animate
  +gradientH2 APIs
  p Created with FastAPI as a REST server
  p For each type of actor in the system
  
+iFrameBackground("http://localhost:9090/docs")
  
+animate
  h2 Programming Language
  h2 Code Layout
  h2 APIs
  +gradientH2 GUI
  
+animate
  +gradientH2 GUI
  p For ease of use
  p Mostly for demo purposes
  p Created with VueJS

+iFrameBackground("http://localhost:8004/gui/index.html")
