mixin SelectedSpan(text)
  span(style="background-color: black;color: white;")= text

mixin animate 
  section(data-auto-animate='', data-auto-animate-unmatched='fade', data-transition='fade')
    block

mixin gradientH1
  h1(style="background: linear-gradient(to right, #2C7DF7 0%, #5B87DA 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;")
    block

mixin gradientH2 
  h2(data-id="name", style="background: linear-gradient(to right, #2C7DF7 0%, #5B87DA 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;")
    block

mixin gradientSpan
  span(style="background: linear-gradient(to right, #2C7DF7 0%, #5B87DA 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;")
    block


mixin whiteOnBlackSpan
  span(style="background-color: black;color: white;")
    block

mixin LogoSpan(logo, height='100px')
  span(style="position: relative; top: 40px; margin-right: 25px") 
    img(src=logo, alt="" height=height) 

